body{
    overflow: hidden;
}
.login-form{
    width: 40%;
    margin: auto;
}

.login-head{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    color: #f6c709;
    font-weight: 100;
    letter-spacing: 2px;
}

.validate{
    color: aliceblue;
}

.submit{
    width: 20%;
    border-radius: 40px;
    height: 8vh;
    border: none;
    background-color: aliceblue;
    color: #f6c709;
}

.container-sub{
    display: flex;
    justify-content: space-around;
}

.submit:hover{
    background-color: #f6c709;
    color: aliceblue;
}