/* 
 @charset "UTF-8"; 
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700|Roboto+Slab:300,400,500,700|Noto+Sans+TC:300,400,500,700&display=swap");
/*---------------------------------------------------- */


/* DataTable Area css
============================================================================================ */

.data_table_area {
  padding-top: 100px;
  padding-bottom: 120px;
  
}

.data_table_area .dataTables_wrapper .dataTables_length {
  float: right;
  margin-top: 14px;
  
}

.data_table_area .dataTables_wrapper .dataTables_length label {
  font: 600 16px "Quicksand", sans-serif;
  color: #58547e;
  margin-bottom: 0px;
  padding-left: 100px;
}

.data_table_area .dataTables_wrapper .dataTables_length label select {
  border: none;
  padding: 0px 20px;
  width: 80px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: none;
  outline: none;
  position: relative;
  left: 300px;
} 

.data_table_area .dataTables_wrapper .dataTables_filter {
  display: inline-block;
  margin-bottom: 25px;
}

.data_table_area .dataTables_wrapper .dataTables_filter label {
  margin-bottom: 0px;
  position: relative;
}

.data_table_area .dataTables_wrapper .dataTables_filter label:before {
  content: "\ec7c";
  font-family: "Linearicons" !important;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #58547e;
}

.data_table_area .dataTables_wrapper .dataTables_filter label input {
  border: none;
  border-bottom: 2px solid #58547e;
  box-shadow: none;
  width: 250px;
  padding: 0px 20px 0px 10px;
  font: 600 16px "Quicksand", sans-serif;
  height: 40px;
  
  line-height: 40px;
  outline: none;
  box-shadow: none;
}

.data_table_area .dataTables_wrapper .dataTables_filter label input.placeholder {
  font: 600 16px "Quicksand", sans-serif;
  color: #58547e;
}

.data_table_area .dataTables_wrapper .dataTables_filter label input:-moz-placeholder {
  font: 600 16px "Quicksand", sans-serif;
  color: #58547e;
}

.data_table_area .dataTables_wrapper .dataTables_filter label input::-moz-placeholder {
  font: 600 16px "Quicksand", sans-serif;
  color: #dbdae2;
}

.data_table_area .dataTables_wrapper .dataTables_filter label input::-webkit-input-placeholder {
  font: 600 16px "Quicksand", sans-serif;
  color: #e6e5ee;
}

.data_table_area .dataTables_wrapper .table {
  width: 100% !important;
}

.data_table_area .dataTables_wrapper .table th {
  padding: 0px;
}

.data_table_area .dataTables_wrapper .table thead tr {
  background: #eeeef1;
}

.data_table_area .dataTables_wrapper .table thead tr th {
  padding-left: 18px;
  padding-right: 18px;
  color: #fff;
  height: 53px;
  font: 700 14px "Quicksand", sans-serif;
  border: 1px solid #d6d9e2;
  border-right: 1px solid #eeeef5;
  vertical-align: middle;
  position: relative;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.data_table_area .dataTables_wrapper .table thead tr th:first-child {
  width: 50px !important;
}

.data_table_area .dataTables_wrapper .table thead tr th:before {
  content: "\ec42";
  font-family: "Linearicons" !important;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color:white;
}

.data_table_area .dataTables_wrapper .table tbody tr {
  background: transparent !important;
}

.data_table_area .dataTables_wrapper .table tbody tr td {
  text-align: right;
  vertical-align: middle;
  font: 500 14px "Quicksand", sans-serif;
  border: 1px solid #d6d9e2;
}

.data_table_area .dataTables_wrapper .table tbody tr td .text-primary {
  color: white  !important;
}

.data_table_area .dataTables_wrapper .table tbody tr td .text-danger {
  color: #f5f5f8 !important;
}

.data_table_area .dataTables_wrapper .table tbody tr td .text-success {
  color: #f6f6f8 !important;
}

.data_table_area .dataTables_wrapper .table tbody tr td .text-warning {
   color: #f0f0f3 !important; 
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(1) {
  text-align: center;
  color: white;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(2) {
  text-align: center;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(3) {
  text-align: left;
  font: 700 16px "Quicksand", sans-serif;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(3) span {
  color: #e3ebea;
  text-decoration: underline;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(5) {
  background: #f1f0ec;
  font: 700 14px "Quicksand", sans-serif;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(5) .text-primary {
  color: white !important;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(7) {
  background: #eaeeee;
  font: 700 14px "Quicksand", sans-serif;
}

.data_table_area .dataTables_wrapper .table tbody tr td:nth-child(7) .text-danger {
  color: #fff !important;
}

.data_table_area .dataTables_wrapper .dataTables_info {
  display: inline-block;
  font: 700 14px "Quicksand", sans-serif;
  color: #f2f1f8;
}

.data_table_area .dataTables_wrapper .dataTables_paginate {
  float: right;
  overflow: hidden;
}

.data_table_area .dataTables_wrapper .dataTables_paginate .paginate_button {
  font: 700 14px "Quicksand", sans-serif;
  color: #f5f4fa;
  height: 30px;
  width: 30px;
  position: relative;
  right: 50px;
  background: rgba(243, 241, 241, 0.02);
  display: inline-block;
  text-align: center;
  line-height: 30px;
  padding-left: 20vw;
  margin-left: 60vw;
  cursor: pointer;
}

.data_table_area .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .data_table_area .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  background: transparent;
  width: auto;
  height: auto;
}
 */
