* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  cursor: none;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: 'Poppins', sans-serif;;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
}


::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #06dee1, #79ff6c);
  border-radius: 3px;
}

.burger{
  display: none;
}

.burger div{
  height: 2px;
  width: 25px;
  background-color: #4b4948;
  margin: 5px;
}

/* Head Styles */
.container-land{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: 20px;
}

.img-head{
  height: 60vh;
}

.home-head{
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 80px;
  color: #489470;
}

.home-para{
  margin: 10px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 30px;
  color: whitesmoke;
}



@keyframes navLinkFade {
  from:{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .burger{
    display: block;
    cursor: pointer;
}
  .home-head{
    font-size: 40px;
  }

  .home-para{
    font-size: 14px;
  }

  .img-head{
    width: 60%;
  }

}

/* END */

.container4 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

section#home {
  background: rgba(0, 0, 0, 0.7) no-repeat;
}

section#about {
  background: rgba(0, 0, 0, 0.7) no-repeat;
}

section#contact {
  background: rgba(0, 0, 0, 0.7) no-repeat;
}
section#statistics{
  background: rgba(0, 0, 0, 0.7) no-repeat;
}

.img {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.img img {
  padding-left: 10vw;
  width: 40vw;
  height: 50vh;
  justify-content: left;
  align-items: baseline;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-left: 7vw;
}

.input{
  width: 100%;
}
.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .form-group input,.input{
    display: flex;
    max-height: 10vh;
    justify-content: space-around;
    width: 70%;
  }

  .form-d{
    margin-left: 60px;
  }

}

.icons {
  width: 100%;
  height: 5vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
i.fab {
  color: #f4f4f4;
}
textarea {
  border-radius: 1vw;
  padding: 0.5vw;

  background-color: #333;
  border: none;
  color: #fff;
}
.label {
  padding-top: 1vw;
  justify-content: left;
  padding-bottom: 1vw;
  color: #489470;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}
.l1 {
  color: #489470;
  font-size: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.form-d {
  width: 90%;
}

.submit {
  width: 30%;
  height: 6vh;
  border: none;
  border-radius: 30px;
  background-color: #489470;
  color: black;
}

.submit:hover {
  background-color: #4f886d;
  color: black;
}

.des {
  width: 39vw;
  height: 2vw;
  border-radius: 0.5vw;
  padding-left: 0.5vw;
  background-color: #333;
  border: none;
  color: #fff;
}


/*  ABOUT  */ 

.about-sec{
  height: 100vh;
}

.about-head{
  display: flex;
  font-weight: 200;
  width: 100%;
  height: 20vh;
  align-items: flex-end;
  justify-content: space-around;
  color: #489470;
  font-size: 60px;
  letter-spacing: 2px;
}

.about-body{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-img{
  height: 60vh;
}

.about-content{
  width: 40%;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

@media screen and (max-width: 768px) {
  .about-head{
    font-size: 20px;
  }
  .about-content{
    margin: 5px;
    font-size: 10px;
  }
  .about-img{
    height: 40vh;
  }

}

/* STATISTICS */
.statistics{
  height: 100vh;
}

.stats-title{
  display: flex;
  height: 20vh;
  align-items: flex-end;
  justify-content: space-around;
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 2px;
  color: #489470;
}

.stats-body{
  width: 80%;
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stats-body-div{
  width: 100%;
}

.space{
  height: 2vh;
}

.cases,.death,.recovered{
  font-size: 2vw;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
}


.stats-body-div p{
  color: #489470;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
}

.stats-content-div{
  width: 40%;
  font-weight: 200;
  font-size: 6vw;
  letter-spacing: 2px;
}

.stats-content{
  font-weight: 200;
  font-size: 1vw;
  letter-spacing: 2px;
}
.stats-content-mobile{
  display: none;
}

.btn-contain{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.stats-btn{
  width: 30%;
  height: 6vh;
  background-color: #489470;
  color: white;
  border-radius: 40px;
  border: none;
}

.stats-btn a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.stats-img{
  height: 60vh;
}

@media screen and (max-width: 768px) {
  .cases,.death,.recovered{
    font-size: 10px;
  }
  
  .stats-content{
    display: none;
  }
  .stats-content-mobile{
    display: block;
    font-size: 8px;
    font-weight: 200;
  }
  
  .stats-body-div p{
    font-size: 8px;
  }
  .stats-btn{
    width: 90px;
  }
  .stats-btn a{
    font-size: 10px;
  }
  .stats-body{
    width: 95%;
  }
  .stats-title{
    font-size: 10px;
  }
  .stats-content{
    margin: 5px;
    font-size: 10px;
  }
  .stats-img{
    height: 20vh;
  }

}

/* CURSOR*/
.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  mix-blend-mode: difference;
} 